/* .box1 {
  background-color: lightgray;
  width: 400px;
  height: 300px;
  border: 2px solid lightcoral;

  padding: 50px;
  margin: 50px;
} */

div {
  width: 200px;
  height: 200px;
  background-color: beige;
}

.box1 {
  padding: 50px;
  border: 1px solid skyblue;
}
