* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", "돋움", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/*  banner  */
.main-banner {
    width: 100%;
    height: 280px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-banner .text {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: titleText 1s ease-in-out;
}


@keyframes titleText {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    92% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  container   */
.container {
    /*background: red;*/
    width: 1200px;
    height: 800px;
    margin: 20px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sidebar {
    width: 170px;
    color: white;
    margin: 0 15px;
}
.contents {
    width: calc(100% - 170px);
}

/*   sidebar   */
.sidebar-menu {
    background: orange;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    padding: 10px 15px;
}
.sidebar-menu ul {
    padding:  10px 0;
    margin: 0;
    list-style: none;
}
.sidebar-menu li {
}
.sidebar-menu a {
    padding: 10px;
    display: block;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.sidebar-menu a:hover {
    background: darkorange;
    transform: translateX(5px);
}

.sidebar-btn {
    background: black;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.sidebar-btn:hover {
    background: white;
    color: black;
}


/*   Contents   */
.itemWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.item {
    /*width: calc(25% - 7px);*/
    aspect-ratio: 6 / 5;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;

    cursor: pointer;
}

.imgBox {
    width: 100%;
    height: 100%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
}

.textBox p {
    color: white;
    margin: 5px 0 0;
}

.textBox-name {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50px);
}
.textBox-price {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(50px);
}

.item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
}

.item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
}

.item:hover .textBox-name {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .textBox-price {
    opacity: 1;
    transform: translateY(0);
}

.item:after,
.item .imgBox img,
.item .textBox-name {
    transition: all 0.4s ease-in-out;
}

.item .textBox-price {
    transition: all 0.4s ease-in-out 0.15s;
}



