* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  padding: 10px;
  margin: 100px;
  border-radius: 5px;
  background: #123ecf;
  color: white;
  cursor: pointer;

  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}

.item1:hover {
  width: 300px;
}

.item2:hover {
  width: 300px;
  background: #002398;
}

.item3 {
  transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out 0.5s;
}

.item3:hover {
  width: 300px;
  background: #002398;
}
